@font-face {
    font-family: 'Xenara';
    font-style: normal;
    src: url('../../font/Xenara.ttf');
}

.display {
    font-family: inherit;
    color: #333;
    text-align: right;
    height: 40px;
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.small {
    font-family: inherit;
    text-align: right;
    padding: 0 6px 0;
    min-height: 1rem;
    line-height: .85rem;
    font-size: .85rem;
    margin-bottom: 3px;
    color: #616161;
}